<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Home Recipe</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body id="login"> 
  <nav>
      <a href="/login"><img id="logo" src="/assets/img/hr-01.png" alt="HRLogo"/></a>
       <div class="navlink">
          <a class="nav-left" id="loginButton" href="/login">LOGIN</a>
          <a class="nav-right" style="float:left;"  id="signupButton" href="/signup">SIGN UP</a>
      </div>
  </nav>
  
  <section id="content" class="login"></section>

  <div id="recipeMessage">
    <h3><span id="errorMessage">Wrong username or password</span></h3>
  </div>
 
  <script src="/assets/loginBundle.js"></script>
</body>
</html>